body, h1, p, span, a, li {
    font-family: 'Exo 2', sans-serif;
}
a.deco-none, a.deco-none:hover {
    color: inherit;
}
#div-site {
    /* background-color: gray; */
}
#cabecalho {
    background-color: #f5f7f8;
    margin-bottom: 10px;
}
#div-horizonte {
    height: 30px;
    margin-top: 25px;
    background-image: url('../img/horizonte.png');
}
#rodape-img {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #d3d7cf;
}
