p, a, li {
    font-family: 'Exo 2', sans-serif;
}
a.deco-none, a.deco-none:hover {
    color: inherit;
}
#div-site {
    background-color: gray;
}
#div-horizonte{
    height: 30px;
    background-image: url('/mater-plano-ensino/layout/img/horizonte.png');
}
#rodape-img {
    height: 100px;
    background-color: #d3d7cf;
}
